<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >
<web-app>
  <display-name>finder</display-name>
  <servlet>
  	<servlet-name>DocumentsServlet</servlet-name>
  	<display-name>DocumentsServlet</display-name>
  	<description></description>
  	<servlet-class>com.jx.finder.servlet.DocumentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>DocumentsServlet</servlet-name>
  	<url-pattern>/documents</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DocumentsServlet</servlet-name>
  	<url-pattern>/order</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DocumentsServlet</servlet-name>
  	<url-pattern>/delivery</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
  	<welcome-file>documents.html</welcome-file>
  </welcome-file-list>
</web-app>
